<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
	<sitecore>
		<sc.variable name="tempFolder" value="D:\home\site\wwwroot\temp" env:require="Azure" />

		<layoutService>
			<configurations>
				<config name="default">
					<rendering type="Sitecore.LayoutService.Configuration.DefaultRenderingConfiguration, Sitecore.LayoutService">
						<renderingContentsResolver type="Sitecore.LayoutService.GraphQL.LayoutService.GraphQLAwareRenderingContentsResolver, Sitecore.LayoutService.GraphQL" resolve="true">
							<IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
						</renderingContentsResolver>
					</rendering>
				</config>
				<config name="jss">
					<rendering type="Sitecore.LayoutService.Configuration.DefaultRenderingConfiguration, Sitecore.LayoutService">
						<renderingContentsResolver type="Sitecore.JavaScriptServices.GraphQL.LayoutService.GraphQLAwareRenderingContentsResolver, Sitecore.JavaScriptServices.GraphQL" resolve="true" >
							<IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
						</renderingContentsResolver>
						<renderingContentsResolver type="Sitecore.LayoutService.ItemRendering.ContentsResolvers.RenderingContentsResolver, Sitecore.LayoutService">
							<IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
						</renderingContentsResolver>
					</rendering>
				</config>
				<config name="sxa-jss">
					<rendering type="Sitecore.LayoutService.Configuration.DefaultRenderingConfiguration, Sitecore.LayoutService">
						<renderingContentsResolver type="Sitecore.XA.JSS.Foundation.Presentation.ContentsResolvers.RenderingContentsResolver, Sitecore.XA.JSS.Foundation.Presentation">
							<IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
						</renderingContentsResolver>
					</rendering>
				</config>
			</configurations>
		</layoutService>

	</sitecore>
</configuration>