


<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" 
			   xmlns:env="http://www.sitecore.net/xmlconfig/env/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore>
		<events role:require="ContentManagement">
			<event name="item:saved">
				<handler type="AuthoringApiXm.Platform.Events.MyItemSavedEvent, AuthoringApiXm.Platform" 
						 method="OnItemSaved" resolve="true" />
			</event>
		</events>
	</sitecore>
</configuration>



